{% extends 'layout.html.twig' %}

{% block content %}
<form method="POST">
    <div class="row">
    {% for Kitten in kittens %}
        <div class="col-3 mx-2 my-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{ Kitten.name }} </h5>
                    <a href="home/stats/{{ Kitten.id }}">{{ Kitten.name }}</a>
                </div>
            </div>
           <input type="checkbox" name="checkbox[]" value="{{Kitten.id}}">Select</input>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Start Party</button>
</form>
{% endblock %}
