{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-3 mx-2 my-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{ dump(stats) }} </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
